.contact {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('./Images/skyline.jpg') no-repeat center center fixed;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    z-index: -1;
    text-align: center;
    
}
.feedback-message{
    color: white;
}
h1 {
    color: white;
}