* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body {
    overflow-x: hidden;  /* Prevent horizontal scrolling */
}

.home {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(233, 225, 225); 
    text-align: center;
    padding: 50px 20px;
    font-family: "Saira", sans-serif; 
}


.home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('./Images/skyline.jpg') no-repeat center center fixed;
    background-size: cover;
    /* Apply the blur and darken effects here */
    filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    z-index: -1; /* Ensures it stays behind the content */
}


/* wl484: set body of home page into a gradient color */
.home {
    font-size: 30px;
    background-color: rgb(0, 0, 0);
    background:linear-gradient(330deg, rgb(19, 16, 16), transparent);
  }
  

    /* wl484: this css refers to the PhillyFeelSafe Title */
  #title {
    font-size: 90px;
    font-family: "Saira", sans-serif;
    font-style: normal;
    font-weight:375;
    color: rgb(0, 0, 0);
  }


  

  
.rounded-image {
    width: 150px; /* Adjust the width and height as needed */
    height: 150px;
    border-radius: 50%; /* Make the image circular */
    border: 7px solid black; /* Optional: Add a border */
  }
  
  p {
    font-size: 32px;
    text-align: center;
    font-family: "Varela Round", sans-serif;
  }
  #HomeHeading1 {
    text-align: center;
    
  }
  h2 {
    font-family: "Saira", sans-serif;
    font-style: normal;
    font-size: 40px;
  }
  /* wl484: each # of heading represent the bolded text*/
  #HomeHeading2 {
    text-align: left;
    margin: 20px;
  }
  #HomeHeading3 {
    text-align: left;
    margin: 20px;
  }
  #HomeHeading4 {
    text-align: left;
    margin-right: 20px;
    margin-left: 20px;
  }
  .logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
  }
  .logo:hover {
    filter: drop-shadow(0 0 2em #256400aa);
  }
  .logo.react:hover {
   filter: drop-shadow(0 0 2em #00e73eaa);
  
  }
  /* wl484: this css refers to the PhillyFeelSafe Title */
  #title {
    font-size: 90px;
    font-family: "Saira", sans-serif;
    font-style: normal;
    font-weight:375;
    color: rgb(0, 0, 0);
  }
  
